.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.brand-logo {
  width: 100px; 
  height: auto;
  object-fit: contain;
}

.menu-item-wrapper {
  display: flex;
  align-items: center;
  height: 70px;
  gap: 12px;
  cursor: pointer;
  padding: 0 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.menu-item-wrapper.active {
  background-color: #ffe0b3;
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #FFA500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  font-size: 24px;
  color: #fff;
}

.menu-label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

/* Tombol Logout (Keluar) */
.menu-item-wrapper.logout .icon-wrapper {
  background-color: #ff4d4f; /* merah */
}

.menu-item-wrapper.logout .menu-icon {
  color: #fff;
}

.menu-item-wrapper.logout .menu-label {
  color: #d93025;
}
